body{
	background:rgb(149,80,150);
}

header nav{
	width:100%;
	height:30px;
	position:fixed;
	top:0px;
	right:0px;
	background-color:#000;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	position:absolute;
}
li{
	display:inline-block;
	float:left;
	margin-right:1px;
}
li a{
	display:block;
	min-width:140px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	color:#fff;
	background:#000;
	text-decoration:none;
}
li:hover a{
	background:#19c589;
}
li:hover ul li a{
	background:#f3f3f3;
	color:2f3036;
	height:30px;
	line-height:30px;
} 
li:hover ul li a:hover{
	background:#19c589;
	color:#fff;
}
li ul{
	display:none;
}
li ul li{
	display:block;
	float:none
}
li ul li a{
	width:auto;
	min-width:100px;
	padding: 0 20px;
}
ul li a:hover + .hidden, .hidden:hover {
	display:block;
}
input[type=checkbox]{
	display:none;
}
input[type=checkbox]:checked  ~ #menu{
	display:block;
}
.show-menu{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration:none;
	color:#fff;
	background:#19c589;
	text-align:center;
	padding: 10px 0;
	display:none;
}

.ini-button{
	width:180px;
	height:40px;
	margin-left:10px;
	margin-right:10px;
	margin-top:2px;
	margin-bottom:2px;
	text-align:center;
	border-radius:8%;
	border-color:#000;
	box-shadow: 2px 2px rgba(0,0,0,.5);
	transition: 1s; 
}
a:hover .ini-button{
	background:#000;
	border-color:#fff;
	color:#fff;
}
.middle{
	text-align:center;
}
.left{
	width:65%;
	float:left;
	font-family: 'Bangers',cursive;
	font-size:30px;
	text-align:center;
	color:#fff;
}
.left2{
	width:55%;
	float:left;
	
}
.right{
	width: 35%;
	float:right;
}
.right figure img{
	width:200px;
	height:200px;
	border-radius:50%;
}
.right2{
	width:40%;
	float:left;
}
section article#article1{
	width:90%;
	height:300px;
	margin-top:35px;
	margin-left:auto;
	margin-right:auto;
	background-image:url("https://i.imgur.com/AetKh2U.jpg");
	background-size:100% 150%;
}
article#article1 h1{
	text-align:center;
	font-size:30px;
	color:#fff;
	padding-top:50px;
	margin-bottom:0px;
}
article#article1 h4{
	text-align:center;
	font-size:20px;
	color:#fff;
	margin-top:0px;
	padding-top:0px;	
}
section article#article2{
	width:90%;
	height:250px;
	margin-top:5px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#cecece;
	background-image: url("https://i.imgur.com/tmGR3Cu.jpg");
	text-shadow:2px 2px rgba(0,0,0,1);
}
section article#article2 h1{
	font-family: 'Bangers',cursive;
	font-size:25px;
	text-align:center;
	color:#fff;
	padding-top:20px;
	text-shadow: 2px 2px rgba(0,0,0,1);
}
section article#article3{
	width:90%;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	background-color:#cecece;
	background-image: url("https://i.imgur.com/KuK1XB6.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
}
section article#article3 h1{
	font-family: 'Bangers',cursive;
	font-size:25px;
	text-align:center;
	color:#fff;
	padding-top:20px;
	text-shadow: 2px 2px rgba(0,0,0,.5)
}
div#album{
	display:block;
	text-align:center;
}
div#album a{
	text-decoration:none;
}
.photos{
	width:400px;
	height:300px;
	transition: box-shadow 1s;
}
div#album img:hover{
	box-shadow: 2px 2px 4px rgba(0,0,0,1);
}
section article#article4{
	width:90%;
	height:350px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	background-color:#cecece;
	background-image: url("https://i.imgur.com/KuK1XB6.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
}
.formulario{
	padding:10px;
	margin:10px;
	font-family:'Abril Fatface',cursive;
	color:#fff;
	text-shadow:1px 1px rgba(0,0,0,.8);
}
.formulario input[type=text], input[type=email], textarea{
	width:70%;
	min-width:200px;
}
article#article4  .subutton{
	border-radius:10%;
	width:100px;
	color:#fff;
	border-color:rgba(70,200,250,1);
	background-color:rgba(60,180,220,1);
	box-shadow:1px 1px rgba(0,0,0,.8);
	
}
div.right2{
	padding:10px;
}
div.right2 p, h1{
	width:100%;
	margin:5px;
	text-align:justify;
	font-family:'Slabo 27px',serif;
	font-size:25px;
	color:#005;
}
div p.texto{
	font-size:20px;
}
footer{
	position:relative;
	height:200px;
	bottom:-10px;
	text-align:center;
	margin:10px -10px -10px -10px;
	background-color:rgba(24,188,201,1);
}
footer h1{
	padding:10px;
	text-align:center;
	font-family:'Abril Fatface',cursive;
	color:#fff;
	text-shadow:1px 1px rgba(0,0,0,.8);
}
footer p{
	padding:10px;
	margin-top:0px;
	font-family:'Abril Fatface',cursive;
	font-size:100%;
	color:#fff;
}
.ft{
	width:40%;
	float:left;
}
.icone a{
	text-decoration:none;
}
.icone a:hover button{
	color:#fff;
	border-color:#000;
	background-color:#000;
}
.icone button{
	width:50px;
	height:50px;
	border-radius:50%;
	margin-top:10px;
	margin-left:25px;
	border-width:0px;
	transition: background-color 1s;
}
@media screen and (max-width:768px){
	
	.right figure img{
		width:200px;
		height:200px;
	}
	
	section article#article1{
		height:200px; 
		
	}
	.ini-button{
		width:170px;
		margin-left:10px;
		margin-right:10px;
	}
	article#article2{
		height:330px !important;
	}
	.left{
		font-size:20px;
		width:100%;
		padding-top:5px;
		margin-bottom:0px !important;
	}
	.right{
		width:100%;
		display:block;
		text-align:center;
		margin-top:-20px !important;
	}
	section article#article3{
		height:600px;
	}
	section article#article4{
		height:400px;
	}
	.photos{
		width:40%;
		height:150px;
	}
	.formulario input[type=text], input[type=email], textarea{
		width:100%;
	}
	.left2{
		width:45%;
	}
	.right2{
		width:50%;
	}
	.ft{
		margin:0px;
		width:100%;
		float:left;
	}
	footer p{
		font-size:10pt;
		margin:0px;
		padding:0px;
		text-align:center;
	}
	footer h1{
		margin:0px;
		text-align:center;
	}
	.icone button{
		width:50px;
		height:50px;
		border-radius:50%;
		margin-top:0px;
		margin-left:5px;
		border-width:0px;
		transition: background-color 1s;
	}
}

@media screen and (max-width:520px){
	ul{
		position:static;
		display:none;
	}
	li{
		margin-bottom:1px;
	}
	ul li, li a{
		width:100%;
	}
	.show-menu{
		display:block;
	}
	article#article1 a span{
		display:none;
	}
	.ini-button{
		width:50px;
		margin-left:2px;
		margin-right:2px;
	}
	.right figure img{
		width:200px;
		height:200px;
	}
	section article#article3{
		height:1000px;
	}
	.photos{
	width:250px;
	height:150px;
	}
	section article#article2 h1{
		margin-top:0px;
		margin-bottom:0px;
	}
	section article#article2 p{
		margin-top:0px;
	}
	section article#article4{
		height:570px !important;
	}
	.left2{
		width:100%;
	}
	.right2{
		width:90%;
	}
	.right2 p{
		font-size:20px !important;
	}
	div p.texto{
		font-size:15px !important;
	}
	.formulario input[type=text], input[type=email], textarea{
		width:100% !important;
	}
}